.displayNone {
    display: none;
}

.matchCard {
    margin: 20px;
    padding: 10px;
    background-color: var(--primary-bg);
    border: 2px solid var(--primary-border);
    border-radius: 10px;
    color: var(--primary-text);
}
.innerCard {
    margin: 0;
    padding: 10px;
    background-color: var(--tertiary-bg);
    border: 0;
    border-radius: 5px;
    color: inherit;
}
.innerCard hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    color: var(--primary-graphic);
}
.cardTitle, .cardBody, .cardFoot {
    display: flex;
    margin: auto;
}
.cardTitle {
    flex-direction: column;
    position: relative;
    height: 80px;
}
.displaySelect {
    position: absolute;
    top: 8px;
    right: 0;
}
.cardBody {
    flex-direction: column;
}
.cardFoot {
    flex-direction: row;
    position: relative;
    height: 20px;
    line-height: 20px;
}

.cardTitle h1 {
    font-size: 2.5em;
}
.cardTitle h2 {
    font-size: 1.5em;
}

.cardFoot .username {
    position: absolute;
    left: 0;
}
.cardFoot .userdate {
    position: absolute;
    right: 0;
}
.cardFoot p {
    color: var(--secondary-text);
}