.sequenceAlignment {
    display: flex;
    flex-direction: column;
}
.sequenceAlignment p {
    font-family: monospace;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
.sequenceData p {
    font-family: var(--font-family);
}