:root {
  --primary-bg: #e7cbff;
  --secondary-bg: #4834a3;
  --tertiary-bg: #d478ff;

  --primary-border: #000000;
  --secondary-border: #000000;
  --tertiary-border: #000000;
  
  --primary-text: #000000;
  --secondary-text: #353535;
  --tertiary-text: #6b6b6b;

  --primary-graphic: #9e009e;
  --secondary-graphic: #5b00d3;
  --tertiary-graphic: #001d7e;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --primary-bg: #e7cbff;
    --primary-border: #000000;
    --primary-text: #000000;
    --secondary-bg: #4834a3;
    --secondary-border: #000000;
    --secondary-text: #000000;
    --tertiary-bg: #d478ff;
    --tertiary-border: #000000;
    --tertiary-text: #000000;
  } */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-bg);
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
